:root {
    --bg-color: #0b0f19;
    --nav-color: #060a14;
    --bg-card: #111827;
    --primary-color: #4f46e5;
    --primary-hover: #4333ca;
    --text-color: #f3f3f3;
    --text-muted: #9ca3af;
    --border-color: #2c3f59;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", system-ui, sans-serif;
}

body {
    background-color: var(--bg-color);
}

.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    gap: 10px;
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--text-color);
    padding: 1.3rem;
    background-color: var(--nav-color);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4), 
                0 4px 6px -2px rgba(0, 0, 0, 0.2),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
}

.header svg {
    width: 70px;
    height: 70px;
    fill: var(--primary-color);
}

.main-content {
    display: grid;
    gap: 50px;
    padding: 2rem 4rem;
}

.sub-header {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    position: sticky;
    backdrop-filter: blur(12px);
    top: 112px;
}

.sub-header h2 {
    color: var(--text-color);
    font-size: 1.4rem;
}

.sub-header svg {
    height: 24px;
    width: 24px;
    fill: var(--text-color);
}

.add-button {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 14px;
    color: var(--text-color);
    padding: 0.85rem 1.25rem;
    cursor: pointer;
    font-weight: 700;
}

.add-button:hover {
    background-color: var(--primary-hover);
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background-color: var(--bg-card);
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid var(--border-color);
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header h3 {
    color: var(--text-color);
    font-size: 1.3rem;
}

.card-header button {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    outline: none;
}

.card-header button svg {
    fill: rgb(143, 48, 48);
}

.card-header button svg:hover {
    fill: red;
}

.card-author {
    color: var(--text-color);
    font-family: cursive;
    margin: 1.8rem 0 1rem;
}

.pages {
    display: flex;
    align-items: center;
    color: var(--text-muted);
    font-size: .85rem;
    gap: 10px;
}

.pages svg {
    height: 24px;
    width: 24px;
    fill: var(--text-muted);
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: .75rem;
    margin-top: 10px;
    background-color: #198754;
    border: none;
    outline: none;
    color: var(--text-color);
    border-radius: .5rem;
    font-size: .875rem;
    font-weight: 600;
    cursor: pointer;
}

.status svg {
    width: 24px;
    height: 24px;
    fill: var(--text-color);
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-header button {
    flex-shrink: 0;
}
