:root {
    --bg-color: #0b0f19;
    --nav-color: #060a14;
    --bg-card: #111827;
    --bg-input: #060a12;
    --primary-color: #4f46e5;
    --primary-hover: #4333ca;
    --text-color: #f3f3f3;
    --text-muted: #9ca3af;
    --border-color: #2c3f59;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", system-ui, sans-serif;
}

body {
    background-color: var(--bg-color);
}

.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    gap: 10px;
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--text-color);
    padding: 1.3rem;
    background-color: var(--nav-color);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4), 
                0 4px 6px -2px rgba(0, 0, 0, 0.2),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
}

.header svg {
    width: 70px;
    height: 70px;
    fill: var(--primary-color);
}

.main-content {
    display: grid;
    gap: 50px;
    padding: 2rem 4rem;
}

.sub-header {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    position: sticky;
    backdrop-filter: blur(12px);
    top: 112px;
}

.sub-header h2 {
    color: var(--text-color);
    font-size: 1.4rem;
}

.sub-header svg {
    height: 24px;
    width: 24px;
    fill: var(--text-color);
}

.add-button {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 14px;
    color: var(--text-color);
    padding: 0.85rem 1.25rem;
    cursor: pointer;
    font-weight: 700;
}

.add-button:hover {
    background-color: var(--primary-hover);
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background-color: var(--bg-card);
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid var(--border-color);
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header h3 {
    color: var(--text-color);
    font-size: 1.3rem;
}

.card-header button {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    outline: none;
}

.card-header button svg {
    fill: rgb(143, 48, 48);
}

.card-header button svg:hover {
    fill: red;
}

.card-author {
    color: var(--text-muted);
    font-family: cursive;
    margin: 1.8rem 0 1rem;
    font-size: .85rem;
}

.pages {
    display: flex;
    align-items: center;
    color: var(--text-muted);
    font-size: .85rem;
    gap: 10px;
}

.pages svg {
    height: 24px;
    width: 24px;
    fill: var(--text-muted);
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: .75rem;
    margin-top: 10px;
    /* background-color: #198754; */
    border: none;
    outline: none;
    color: var(--text-color);
    border-radius: .5rem;
    font-size: .875rem;
    font-weight: 600;
    cursor: pointer;
}

.success {
    background-color: #198754;
}

.failure {
    background-color: #e6644a;
}

.status svg {
    width: 24px;
    height: 24px;
    fill: var(--text-color);
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-header button {
    flex-shrink: 0;
}

dialog {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
    margin: auto;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.479);
    backdrop-filter: blur(4px);
}

dialog .close-btn {
    height: 24px;
    width: 24px;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: .5;
    fill: var(--text-color);
}

dialog form>input {
    width: 100%;
    padding: .75rem;
    margin-bottom: 1rem;
    background: var(--bg-input);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    color: var(--text-color);
    outline: none;
}

dialog form>input:first-child{
    margin-top: 1rem;
}

dialog button[type="submit"] {
    width: 100%;
    padding: .75rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: .5rem;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 1rem;
}

dialog button[type="submit"]:hover {
    background-color: var(--primary-hover);
}

/* Remove arrows in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506EEC;
  }

  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #506EEC;
    border-color: #506EEC;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }

  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }
